/* ————————————————————————————————————————————————————————
    @title: Universal Base/Reset Stylesheet
    @version: 1.0
    @author: Panda
———————————————————————————————————————————————————————— */

@charset "utf-8";

/* all elements reset */
html,body,address,blockquote,div,p,pre,h1,h2,h3,h4,h5,h6,hr,	/* blocks */
dd,dl,dt,ul,ol,li,						/* lists */
a,abbr,acronym,b,big,br,cite,code,del,dfn,em,i,			/* inlines */
ins,kbd,q,samp,small,span,strong,tt,var,        		/* inlines (no sup and sub) */
img,object,applet,iframe,					/* images & objects */
caption,table,tbody,td,tfoot,th,thead,tr,			/* tables */
input,textarea,select,button,form,fieldset,legend,label,	/* forms */
u,font,s,center,dir,menu,strike,xmp				/* deprecated */
{
    margin: 0;
    padding: 0;
    outline: 0;


    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    text-align: left;
    text-indent: 0;
    font-size: 100%;
    text-decoration: none;
}



body { line-height: 1.5; background: #fff; margin:0.6em 0; }

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}


/* Tables still need 'cellspacing="0"' in the markup. */


caption, th, td { text-align: left; font-weight:400; }



/* Remove possible quote marks (") from <q>, <blockquote>. */

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }



a img { border: none; }




/* form default valigns */
input, select, button {
    vertical-align: middle;
}

textarea {
    vertical-align: top;
    overflow: auto;
}

/* fix inheritance in IE */
input, select, button, textarea {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
}

/*because legend doesn't inherit in IE */
legend {
    color: #000;
}

/* fixing optgroup in Opera */
optgroup {
    color: black;
    background: white;
    font-style: normal;
}

optgroup option {
    padding-left: 22px;
}

/* remove padding in IE 6 */
img {
    vertical-align: top;
}

hr, img, object, abbr, acronym, fieldset {
    border: 0;
}

ol, ul, li {
    list-style: none;
}

/* fixing IE problem with display: block in lists */
ol li, ul li{
    vertical-align: bottom;
}

/* cross-browser HR */
hr {
    color: black;
    background-color: black;
    height: 1px;
    margin: 7px 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, q:before, blockquote:after, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need ‘cellspacing=”0″‘ in the markup */


caption, td, th, tr {
    vertical-align: top;
}